.modal-backdrop {
    &.show {
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
    }
}

tr {
    th,
    td {
        text-align: center;
    }
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #007bff;
}

table tbody {
    display: block;
    max-height: 200px;
    overflow-y: auto;
}

table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.required-asterisk {
    color: red;
}